.jzdc_empty{color: navy; cursor:pointer;}
.jzdc_edit{text-align:left; width:200px;}
.jzdc_info{color:red;}
.jzdc_save{color:green; font-size: 12px;}
.jzdc_save:hover{cursor:pointer; text-decoration: underline;}
.jzdc_deny{color:red; font-size: 12px;}
.jzdc_deny:hover{cursor:pointer; text-decoration: underline;}